<app-header></app-header>
<div class="row">
  <div class="col-md-12">
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.319936249863!2d72.84532161421434!3d19.181223553642592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b6fc3f2ddafd%3A0x9689e22108407ba7!2sSahakar%20Villa%2C%20SV%20Rd%2C%20Malad%2C%20Vijaykar%20Wadi%2C%20Malad%20West%2C%20Mumbai%2C%20Maharashtra%20400064!5e0!3m2!1sen!2sin!4v1595073914546!5m2!1sen!2sin" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" formControlName="name" placeholder="Enter Name">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="exampleInputEmail1">Mobile</label>
      <input type="text" class="form-control" formControlName="mobile" placeholder="Enter Mobile">
    </div>
  </div>
  <div class="col-md-4">1</div>
</div>
