.typeImg
  height 550px
.title
  font-size 20px
  font-weight bold
  font-family 'Libre Baskerville', serif
mat-card
  box-shadow none !important
  background transparent
mat-card-header
  text-align center
::ng-deep
  .mat-card-header-text
    width 100%
.example-card
  max-width: 400px;
