/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-card
  background: #fff;
  color: rgba(0,0,0,.87);

.mat-table
  background: #fff;
  color: rgba(0,0,0,.87);
  td
    color black
  th
    background-color #cacaca
    color black

::ng-deep {
  .mat-form-field-underline {
    background-color: black !important;
  }

}

.error
  color red
.modalpopup
  overflow scroll

.mat-snack-bar-container
  background #5d333b
