.enquirySection
  display flex
.review
  .saveRating
    position relative
    left 45px
    top -4px
  .overall-rating
    margin-left 90px
.enquiry
  width 50%
  text-align center
  button
      position relative
      top 8px
.description
  top 20px
  padding-bottom 29px
